
<div class="container">
    
    <% if account_signed_in? %>

   <%= link_to "logout", "/accounts/sign_out",  :class => "float-end text-dark text-decoration-none", method: :delete %>
   
             <% else %>

  <%= link_to "Signup", "/accounts/sign_up", :class => "float-end text-dark text-decoration-none px-3" %>
  <%= link_to "Login", "/accounts/sign_in", :class => "float-end text-dark text-decoration-none" %>

  <% end %>
</div>

<div class="container ">
    <h1 class="text-center mt-5 ">View Articles</h1>
</div>

<div class="continer text-center">
  <p>Welcome! <%=  current_account.email  %></p>
</div>
<div class="mt-5 text-center">
  <%= link_to "New Article..", new_article_path %>
</div>
  </div>
    </div>
  </)  an class="badge bg-primary rounded-p"><%= article.category.artic    t  %></span></li>
                 <% end %>
      </div>
    </div>

    <div class="col-4 mt-5">
      <% @articl   do |article| %>
      <d    card ftn mt-5">
        <%= link_to articl          <%= image_tag article.avatar, :class=>"card-img-top"  if artic      tached? %>

        <div class="card-body">
             to article.title, article %><br>
          <small>Created by: <%= artic  .email if art  nt %>,
  
   %= time_ae"></i>      </button>
        </div>
          </li>
          <li class="list-group-item text-primary">More....</li>
        </ul>
        </div>
      </div>
    </div>


    </div>
  </div>